<div class="container">

  <div class="jumbotron text-center">
    <h1 translate="TITLE"></h1>
    <p class="lead" translate="Greeting_Text" >
    </p>
    <div class="container-fluid">
     <div class="col-md-2"> <label> Change Language  </label></div>
     <div class="col-md-10">
      
      <select class="form-control" ng-options="item as item.lcode for item in main.langArray track by item.lcode" ng-model="main.selected" ng-change="main.switchLang(item)" ></select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ (awesomeThing.statickey ) | translate }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
